[user]
	email = kevin@kevinschweikert.de
	name = Kevin Schweikert
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	s = status
	new = switch -c
	c = commit -m
[core]
	editor = nvim
